.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 150px;
    height: 150px;
    line-height: 150px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }