
<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="row">
            <div class="col-sm-8">
                <img mat-card-image src="" alt="Photo of a Shiba Inu" />
            </div>
            <div class="col-sm-4">
                <div class="d-flex align-items-center ">
                    prueba
                </div>
                <div class="d-flex align-items-center ">
                    prueba
                </div>
                <div class="d-flex align-items-center ">
                    prueba
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div class="row">
    <div class="col-sm-8">
        <mat-card class="cardWithShadow">
            <mat-card-content>
                <div class="row">
                    <div class="col-sm-8">
                        <img mat-card-image src="" alt="Photo of a Shiba Inu" />
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex align-items-center ">
                            prueba
                        </div>
                        <div class="d-flex align-items-center ">
                            prueba
                        </div>
                        <div class="d-flex align-items-center ">
                            prueba
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-4">
        <mat-card class="cardWithShadow">
            <mat-card-content>
                <div class="row">
                    <div class="col-sm-8">
                        <img mat-card-image src="" alt="Photo of a Shiba Inu" />
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex align-items-center ">
                            prueba
                        </div>
                        <div class="d-flex align-items-center ">
                            prueba
                        </div>
                        <div class="d-flex align-items-center ">
                            prueba
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>