<div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden">
    <div class="row">
        <div class="col-sm-8">
            <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">
                {{federation?.description}}
            </h4>
            <div class="d-flex align-items-center overflow-hidden">
                <!-- <ng-template ngFor let-url [ngForOf]="pageInfo?.['urls']" let-last="last">
                    @if(!last) {
                    <li class="breadcrumb-item" [routerLink]="url.url">
                        <a [routerLink]="url.url">{{ url.title }}</a>
                    </li>
                    }
                    @if(last) {
                    <li class="breadcrumb-item active">{{ url.title }}</li>
                    }

                </ng-template> -->
            </div>
        </div>
        <div class="col-sm-4 text-right position-relative">
            <div class="breadcrumb-icon">
                <img src="/assets/images/breadcrumb/ChatBc.png" alt="breadcrumb" width="165" />
            </div>
        </div>
    </div>
</div>
<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex align-items-center">
            <mat-card-title class="m-b-0">Eventos</mat-card-title>
        </div>
    </mat-card-content>
</mat-card>

    @for(event of events; track event) {
        <div class="row">
        @if( this.comingEvent(event.initial_date) < 7) { 
            <div class="col-12 col-lg-12 col-xl-12" [class.col-lg-12]="this.comingEvent(event?.initial_date) < 7" >
                <mat-card
                    class="cardWithShadow card2 position-relative card-hover featured-card overflow-hidden cursor-pointer" (click)="selectEvent(event.id)">
                    <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu" /> -->
                    <div></div>
                    <div class="featured-overlay h-100 p-24 d-flex flex-column align-items-end justify-content-start">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <mat-chip class="f-s-12 m-y-16 f-w-600 bg-white">{{ event.association_id ? 'Asociacion':'Federacion'}}</mat-chip>
                            <mat-chip class="f-s-12 f-w-600 m-y-16 bg-white">Proximamente</mat-chip>
                        </div>
                        <div class="m-t-auto w-100">
                            <mat-card-title class="mat-headline-5">{{event.description}}</mat-card-title>
                            <div class="d-flex align-items-center justify-content-center m-t-24">
                                <div class="d-flex align-items-center">
                                    <span class="m-r-12 f-s-14 mat-subtitle-2 d-flex align-items-center"><i-tabler
                                            name="eye" class="icon-18 m-r-4"></i-tabler>vista</span>
                                    <span class="f-s-14 mat-subtitle-2 d-flex align-items-center"><i-tabler
                                            name="message-2" class="icon-18 m-r-4"></i-tabler>comentarios</span>
                                </div>
                                <span class="m-l-auto f-s-14 mat-subtitle-2 d-flex align-items-center">
                                    <i-tabler name="point" class="icon-14 m-r-4"></i-tabler>
                                    {{event.initial_date}}
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        } 
        </div>
        <div class="row">
            @if( this.comingEvent(event.initial_date) > 7) { 
            <div class="col-sm-6 col-lg-4">
                <mat-card class="cardWithShadow card2 position-relative card-hover cursor-pointer" (click)="selectEvent(event.id)">
                    <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu" /> -->
                    <div class="card-overlay h-100 d-flex p-16 p-y-0 align-items-end justify-content-between">
                        <mat-chip class="f-s-12 m-y-16 f-w-600 bg-white">{{ event.association_id ? 'Asociacion':'Federacion'}}</mat-chip>
                        <mat-chip class="f-s-12 f-w-600 m-y-16 bg-white">Estado del Evento</mat-chip>
                    </div>

                    <mat-card-content class="p-y-24">
                        <div class="user-category">
                            <div>
                                <!-- <img src="{{ blogPost.user }}" class="rounded-circle" width="40" /> -->
                            </div>
                        </div>
                        <mat-card-title class="mat-headline-6 m-t-15">{{event.description}}</mat-card-title>
                        <div class="d-flex align-items-center justify-content-center m-t-24">
                            <div class="d-flex align-items-center">
                                <span class="m-r-12 f-s-14 mat-subtitle-2 d-flex align-items-center">
                                    <i-tabler name="eye" class="icon-18 m-r-4"></i-tabler>views
                                </span>
                                <span class="f-s-14 mat-subtitle-2 d-flex align-items-center">
                                    <i-tabler name="message-2" class="icon-18 m-r-4"></i-tabler>nro de comentarios
                                </span>
                            </div>
                            <span class="m-l-auto f-s-14 mat-subtitle-2 d-flex align-items-center">
                                <i-tabler name="point" class="icon-14 m-r-4"></i-tabler>
                                {{ event.initial_date }}
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            }
        </div>
}
