<div class="auth-page">
    <div class="auth-page_content-block">
        <div class="auth-page_content-wrapper">
            <mat-tab-group class="auth-page_group">
                <mat-tab label="Login">
                    <h4 class="auth-page_group-title">Welcome!</h4>
                    <div class="auth-page_google-button-wrapper">
                        <button>Aqui estaria otro boton</button>
                    </div>
                    <div class="auth-page__border-wrapper">
                        <div class="auth-page__border-line"></div>
                        <p class="auth-page__border-title">or</p>
                        <div  class="auth-page__border-line"></div>
                    </div>
                    <app-sign-in></app-sign-in>
                </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>
            </mat-tab-group>              
        </div>
    </div>
</div>


