<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <h1>Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
          <mat-nav-list>

              <a mat-list-item href="/association">Asociaciones</a>
              <a mat-list-item href="/federation">Federaciones</a>

          </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>

        <router-outlet></router-outlet>
          
          <!-- <main class="main">
            <div>
            </div>
            </main> -->
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- <main class="main">
  <div class="content">
      <app-table 
        collection="federation"
        
      /> 
      <app-table 
        collection="collection"
        
      /> 
  </div>
</main>
<router-outlet /> -->
<!-- <app-layout></app-layout> -->

