<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="form__input">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" >
    </mat-form-field>

    <mat-form-field class="form__input">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
    </mat-form-field>
    <div class="form-actions">
        <button mat-flat-button color="primary" type="submit" >Login</button>
        <button mat-flat-button color="warn" type="submit" >Forget Password</button>
    </div>
</form>
