<mat-sidenav-container
  [ngClass]="{
    'cardBorder': options.cardBorder,
    orange_theme: options.activeTheme == 'orange_theme',
    blue_theme: options.activeTheme == 'blue_theme',
    aqua_theme: options.activeTheme == 'aqua_theme',
    purple_theme: options.activeTheme == 'purple_theme',
    green_theme: options.activeTheme == 'green_theme',
    cyan_theme: options.activeTheme == 'cyan_theme'
  }"
  [dir]="options.dir!"
>

  <app-header></app-header>
  <!-- <div class="row">
    @for (federation of federations; track federation) {
    <div class="col-sm-6 col-lg-4">
        <mat-card class="cardWithShadow card2 position-relative card-hover cursor-pointer" (click)="selectedFederation(federation.id)">
            <div class="card-overlay h-100 d-flex p-16 p-y-0 align-items-end justify-content-between">
                <mat-chip class="f-s-12 m-y-16 f-w-600 bg-white">categoria</mat-chip>
                <mat-chip class="f-s-12 f-w-600 m-y-16 bg-white">tiempo?</mat-chip>
            </div>

            <mat-card-content class="p-y-24">
                <div class="user-category">
                    <div></div>
                </div>
                <mat-card-title class="mat-headline-6 m-t-15">{{federation.description}}</mat-card-title>
                <div class="d-flex align-items-center justify-content-center m-t-24">
                    <div class="d-flex align-items-center">
                        <span class="m-r-12 f-s-14 mat-subtitle-2 d-flex align-items-center">
                            <i-tabler name="eye" class="icon-18 m-r-4"></i-tabler>prueba
                        </span>
                        <span class="f-s-14 mat-subtitle-2 d-flex align-items-center">
                            <i-tabler name="message-2" class="icon-18 m-r-4"></i-tabler>prueba
                        </span>
                    </div>
                    <span class="m-l-auto f-s-14 mat-subtitle-2 d-flex align-items-center">
                        <i-tabler name="point" class="icon-14 m-r-4"></i-tabler>
                        prueba
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    }
</div> -->
</mat-sidenav-container> 
