<mat-tab-group>
    <mat-tab label="Editar Usuario">

        <mat-card [formGroup]="formGroup" class="cardWithShadow theme-card">
            <mat-card-header>
                <mat-card-title class="m-b-0">Editar</mat-card-title>
            </mat-card-header>
            <mat-card-content class="b-t-1">

                <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Name</mat-label>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="John Deo" formControlName="name" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Email</mat-label>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Pone tu Email aca" formControlName="email" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Password</mat-label>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput formControlName="password" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Roles</mat-label>
                            <mat-chip-grid #userRoleArray aria-label="Seleccione un role">
                                @for(selectedRole of selectedRolesArray; track selectedRole) {
                                <mat-chip-row (removed)="remove(selectedRole)" class="f-s-14">
                                    {{ selectedRole.name }}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                }

                                <input placeholder="Nuevo Rol" 
                                    formControlName="rol"
                                    #userRoleArrayInput 
                                    [matChipInputFor]="userRoleArray"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                                    [matAutocomplete]="auto"
                                    (matChipInputTokenEnd)="addRole($event)" />

                            </mat-chip-grid>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                @for (role of roles; track role) {
                                <mat-option [value]="role">{{role.name}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-sm-12">
                        <button mat-flat-button color="primary" [disabled]="!formGroup.valid"
                            (click)="onSubmit()">Guardar</button>
                        <button mat-flat-button color="warn" class="m-l-8" (click)="onBack()">Cancel</button>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>

    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>