<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                    <input matInput placeholder="Search User" (keyup)="applyFilter($any($event.target).value)" />
                    <mat-icon matSuffix>
                        <i-tabler name="search" class="icon-20"></i-tabler>
                    </mat-icon>
                </mat-form-field>
            </div>
            <!-- <div class="col-lg-4 d-flex align-items-center justify-content-end">
                <button mat-flat-button (click)="createAction()" color="primary">
                    Agregar
                </button>
            </div> -->
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="w-100">

                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                  </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600"> Descripcion </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="belt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600"> Cinturón </th>
                    <td mat-cell *matCellDef="let element"> {{ element.belt.color }} </td>
                </ng-container>

                <ng-container matColumnDef="academy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600"> Academia </th>
                    <td mat-cell *matCellDef="let element"> {{ element.academy?.description ? element.academy?.description:"Sin academia"}} </td>
                </ng-container>

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600"> Pais </th>
                    <td mat-cell *matCellDef="let element"> {{ element.country.description }} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600"> Ciudad </th>
                    <td mat-cell *matCellDef="let element"> {{ element.city.description }} </td>
                </ng-container>

            
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 text-center">Actiones</th>
                    <td mat-cell *matCellDef="let element;" class="action-link text-center">
                        <!-- <button mat-icon-button (click)="updateAction(element.id)" class="m-r-10 cursor-pointer">
                            <i-tabler name="edit" class="icon-18"></i-tabler>
                        </button> -->
                        <!-- <button mat-icon-button (click)="deleteAction(element.id)" class="m-r-10 cursor-pointer">
                            <i-tabler name="trash" class="icon-18"></i-tabler>
                        </button> -->
                        <button mat-flat-button color="primary"  (click)="sanctionAction(element.id)" class="m-r-10 cursor-pointer">
                            <!-- <i-tabler name="category" class="icon-18"></i-tabler> -->
                            Sanciones
                        </button>
                        <!-- <button mat-icon-button (click)="athletesRegistrationAction(element.id)" class="m-r-10 cursor-pointer">
                            <i-tabler name="user" class="icon-18"></i-tabler>
                        </button> -->
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="headers"></tr>
                <tr mat-row *matRowDef="let row; columns: headers"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>